/* SENTINIX Style Sheet */

BODY {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

TD {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}


A {
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #592a2a;
}


.spacer {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 900;
	color: #000000;
	text-decoration: none;
}

.table {
	border: thin solid #909090;
}

.normal-font {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.big-fonts {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
